<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>

</head>
<body>
<header th:include="fragments/header"></header>
<div>
    <h4 class="text-center text-info text-uppercase">Leg Workouts</h4>
</div>
<br>
<br>
<div class="container">
    <table class="table width-90 mx-auto table-hover">
        <tbody>
        <th:block th:each="videoArr : ${videos}">
            <tr class="row">
                <th:block th:each="video : ${videoArr}">
                    <td class="col-md-4 text-center">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1">
                            <iframe class="embed-responsive-item"
                                    th:src="@{https://www.youtube.com/embed/{url} (url=${video})}"
                                    style="height: 101%"
                                    allowfullscreen></iframe>
                        </div>
                        <th:block th:if="${#request.session.getAttribute('userId')}">
                            <div class="checkbox checkbox-danger">
                                <input id="checkbox6" type="checkbox">
                                <label for="checkbox6">
                                    Add to Favourites
                                </label>
                            </div>
                        </th:block>
                    </td>

                </th:block>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>

</html>