<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <!--<style>-->
<!--body {-->
  <!--&lt;!&ndash;background-image: url("http://www.yogafleet.com/images/1/Fitness-Wallpaper-3.jpg");&ndash;&gt;-->
  <!--background-position: 50% 20%;-->
  <!--background-repeat: repeat;-->
<!--}-->
<!--</style>-->
</head>
<body th:style="'background :url(' + @{/images/Fitness-Wallpaper-3.jpg} + ')'"
      class=" background-position: 50% 20%;   background-repeat: repeat; ">

<header th:include="fragments/header"></header>
<br>
<br>
<br>
<br>

<div class="container" align="center">
    <p class="lead">
        <a class="btn btn-primary btn-lg" style="width:12%" th:href="@{/videos/men/legs}" role="button">LEGS</a>
    </p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" style="width:12%" th:href="@{/videos/men/back}" role="button">BACK</a>
    </p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" style="width:12%" th:href="@{/videos/men/chest}" role="button">CHEST</a>
    </p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" style="width:12%" th:href="@{/videos/men/biceps}" role="button">BICEPS</a>
    </p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" style="width:12%" th:href="@{/videos/men/triceps}" role="button">TRICEPS</a>
    </p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" style="width:12%" th:href="@{/videos/men/abs}" role="button">ABS</a>
    </p>

</div>

</body>
<footer th:include="fragments/footer"></footer>
</html>