<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<header th:include="fragments/header"></header>
<br>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">  <h4 >User Profile Page</h4></div>
            <div class="panel-body">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                </div>
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                    <hr>
                    <ul class="container details">
                        <li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>
                        <span th:text="${username}"/></p></li>
                        <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>
                        <span th:text="${email}"/></p></li>
                    </ul>
                    <hr>
                    <ul class="container details">
                        <li><p><span class="glyphicon glyphicon-pencil" style="width:50px;"></span>About</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
    <div class="embed-responsive embed-responsive-16by9 z-depth-1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fa3Iczgh8Ok" style="height: 101%"
                allowfullscreen></iframe>
    </div>
    </div>
</div>
<br>
<br>
</body>

</html>

